.container-fluid{
  background-color:white;
  overflow: hidden;
  width: auto;
  height: 100vh;
  margin-top: 0px;
  margin-left: 65px;
}

.main-container{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  border: 1px solid lightgray;
  background: lightgrey;
  width: 99%;
  margin: auto;
  height: 85%;
  margin-top: 75px;
}

.tab-container{
  height: 50px;
  max-height: 50px;
}
.backlog-container{
  height: 85%;
}
.backlog-tab{
  font-size: small;
  font-weight: 600;
  background-color: rgba(19,36,53,0.3);
  text-transform: uppercase;
  color:rgb(188, 188, 192);
  border:none;
  border-radius: 10px 10px 0 0;
  height: 100%;
  transition: all 0.2s ease-in;
}
.backlog-tab:hover{
  color:white;
  background-color: rgba(19,36,53,0.5);
  border-radius: 10px 10px 0 0 ;
  
}
.backlog-tab.active{
  border-bottom:none;
  background-color: rgba(19,36,53);
  color: white;
}
#create-story{
  cursor: pointer;
  border-radius: 5px;
  font-size: small;
  font-weight: 400;
  background-color: rgba(32, 156, 7, 0.8);
  transition: all 0.2s ease-in-out;
  color: white;
}
#create-story:hover{
  background-color: rgba(32, 156, 7, 1);
  box-shadow: 0 3px 5px rgba(45, 204, 13, 0.9);
  color: white;
}
.breakLine {
  margin-bottom: 1rem;
  margin-left: 2px;
  margin-right: 2px;
  border-top: 1px solid rgba(19,36,53);; 
}