.container-fluid{
  background-color:white;
  overflow: hidden;
  width: auto;
  height: 100vh;
  margin-top: 0px;
  margin-left: 65px;}
  .main-container{
    width: 100%;
    margin: auto;
    height: 88%;
    margin-top: 65px;}
    .tab-container{
      height: 50px;
      max-height: 50px;}
      #create-story{
        cursor: pointer;
        border-radius: 5px;
        font-size: small;
        font-weight: 400;
        background-color: rgba(32, 156, 7, 0.8);
        transition: all 0.2s ease-in-out;
        color: white;}
        #create-story:hover{
          background-color: rgba(32, 156, 7, 1);
          box-shadow: 0 3px 5px rgba(45, 204, 13, 0.9);
          color: white;}
      .backlog-tab{
        font-size: small;
        font-weight: 600;
        background-color: rgba(19,36,53,1);
        text-transform: uppercase;
        color:white;
        border:none;
        border-radius: 10px 10px 0 0;
        height: 100%;
        transition: all 0.1s ease-in;}
        .backlog-tab:hover{
          color:white;
          background-color: rgba(19,36,53,0.7);}
        .backlog-tab:focus{
          outline: 0;}
        .backlog-tab.active{
          text-decoration: solid;
          font-weight: 800;
          color: rgb(12, 48, 101)!important;
          border: 1px solid rgba(75, 75, 75, 0.1);
          border-bottom: none;
          background-color: rgba(75, 75, 75, 0.1);
          color: white;}
    .backlog-container{
      height: 90%;
      border: solid 1px rgba(75, 75, 75, 0.2);
      border-top: none;
      border-radius: 8px;
      background-color: rgba(75, 75, 75, 0.1);}
      #backlog-container-row{
        overflow-y: hidden;
        width: 100%;
        height: 100%;}
        #backlog-list-container{
          display: inline-block;
          width: 65%;
          overflow-y: auto;
          height: 98%;}
          .story-container-backlog{
            border: solid 1px rgba(75, 75, 75, 0.2);
            border-bottom: none;
            font-size: small;
            border-radius: 1px;
            background-color: white;
            transition: background-color 0.2s ease-out;}
            .story-container{
              border: solid 1px rgba(75, 75, 75, 0.2);
              box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
              font-size: small;
              border-radius: 7px;
              background-color: white;
              transition: background-color 0.2s ease-out;}
              .story-container:hover{
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.1);}
              .story-title{
                display: inline-block;
                cursor: pointer;
                color:rgb(12, 48, 101);
                font-weight: 800;
                font-size: medium;}
              .story-description{
                display: inline-block;
                font-size: x-small;
                font-weight: 700;
                color: grey;}
              .remove-story{
                float:right;                
                margin-left:auto;
                background-color: transparent;
                border: none;
                color:rgba(202, 60, 60, 0.5);}
                .remove-story:hover{
                  color:rgba(202, 60, 60, 0.9);}
              .userStoryIcon {
                color: rgba(32, 156, 7, 0.8);}
          #numStories{
            display: block;
            text-align: right;
            font-weight: 600;
            font-size: small;
            color: rgba(0, 0, 0, 0.4);}
      #story-preview{
        display: inline-block;
        width: 33%;
        background-color: transparent;
        height: 99%;
        border-radius: 2px;
        overflow-y: auto;}
    