.hide-dropdown{
    position: absolute;
    padding: 0.7rem;
    top:51px;
    left: 21%;
    width: 9%;
    transform: translateX(-79%);
    background-color: black;
    visibility: hidden;
    overflow: hidden;
    border-radius: 4%;
}
.menu-items{
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.show-dropdown {
    position: absolute;
    padding: 0.7rem;
    top:51px;
    left: 21%;
    width: 9%;
    transform: translateX(-79%);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    border-radius: 4%;
}