#home.container-fluid{
  width: 100%;
  margin: 0;
  height: 100vh;
  background-color: aliceblue;
}
#login-container{
  overflow-y: auto;
  margin: auto; 
  width: 494px;
  height: 420px;
  border: 2px solid rgb(19, 36, 53);
  background-color:aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);} 
  #login-content{
    margin: auto;
    height: 80%;
    width: 80%;}
    #login-header{
      justify-content: center;
      text-align: center;
      font-size: 50px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;}
    #login-status{
      justify-content: center;
      text-align: center;
      font-weight: 800;
      font-size: small;
      color: grey;}
      
#website-description{
  text-align: center;
}
#sign-in{
  display: inline-block;
}
#not-signed-in{
  font-size: 150px;
}
#google-logo{
  max-width: 25px!important;
}
#profile-logo{
  width: 125px!important;
  border-radius: 50%;
}
#google-logo-container{
  font-size: large;
}
#google-auth{
  text-align: center;
}
.google-login{
  background-color: #db3d29;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  border:none;
  color: white;
  font-weight: 700;
  border-radius: 2px;
  transition: box-shadow 0.2s ease-in-out;
}

.google-login:hover{
  box-shadow: 0 0px 5px rgba(255, 0, 0, 0.5);
}
.google-login:focus{
  outline:0;
}
#team-choices{
  margin: auto;
  width: 100%;
}
.team-choice{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(87, 81, 81, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 15%;
  text-align: center;
}
.team-choice.join{
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgba(66,133,244,0.6);
  transition: all 0.2s ease-in-out;
}
.team-choice.join:hover{
  background-color: rgba(66,133,244,0.9);
  color:aliceblue;
}
.team-choice.make{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 100;
  background-color: rgba(66,133,244,0.6);
  transition: all 0.2s ease-in-out;
}
.team-choice.make:hover{
  background-color: rgba(66,133,244,0.9);
  color:aliceblue;
}
.choice-label{
  width: 100%;
  height: 50%;
}
#team-option-header{
  margin-left: 2em;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
}
#team-name-label, #team-results{
  margin-bottom: 0px;
  font-size: small;
  font-weight: 600;
  color: grey;
}
#back-button{
  cursor: pointer;
  margin-left: -40px;
  display: inline-block;
  color: grey;
  font-size: large;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
#back-button:hover{
  color:white;
  background-color: rgba(0, 0, 0, 0.1);
}
#team-name-input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 0px;
}
#team-name-input:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#create-team{
  width: 100%;
}
#join-team-form{
  width: 100%;
}


#search-result-list{
  }
  .search-result button{
    float: right;
  }
  .search-result #result-name{
    font-weight: 800;
    color:rgb(19, 36, 53);
  }
  .search-result #result-members{
    color: grey;
    font-size: small;
    font-weight: 600;
  }

.search-result.none{
  font-size: xx-large;
  color: grey;
  text-align: center;
  width: auto;}
  #no-result-label{
    font-weight: 600;
    font-size: medium;}
  #status-label{
    margin: 0;
    font-size: x-small;
    color: red;
    font-weight: 600;
  }

#home-page-profile {
  text-align: center;
}

#home-page-profile img {
  width: 30px;
  border-radius: 50%;
}

#home-page-profile button{
  border: none;
  vertical-align: middle;
  background-color: transparent;
  font-size: small;
  font-weight: 600;
  
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-out;
}

#home-page-profile button:hover{
  background-color: rgba(72, 72, 72, 0.05);
  color: rgba(0, 0, 0, 0.7);
}

#home-page-profile button:focus{
  outline: transparent;
}

#home-logout{
  text-align: right;
}

.spinner-border{
  margin-top: 10em;
  display: block;
  position: relative;
  margin: auto;
}