i.navbarIcon {
    font-size: 30px;
    color: whitesmoke;
}
span.badge {
    position: relative;
    top: -17px;
    padding: 5px 7px;
    border-radius: 100%;
    background-color: red;
    color: whitesmoke;
    right: 6px;
}
.navBarbutton{
    position: relative;
    top:0px;
    margin:0 9px;
    padding:0px;
    border: 0px;
    color:whitesmoke;
    background-color: transparent;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.searchBar{
    width:30%; 
    position:relative;
}

#dropdownnoti {
    outline: none;
}
.navbar{
    position: fixed;
    left:0px;
    z-index: 99;
    background-color: #1a73e8 !important;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: whitesmoke;
    width: auto;
    right: 0;
    transition:all 0.4s ease-in-out;
}

#navbar-labels{
  z-index:100;
}
.navbar-left{
  display: inline-block;}
  #team-btn{
    color: inherit;
    border: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,.2);
    font-weight: 400;}
    #team-btn:hover{
      background-color: rgba(255,255,255,.3);}
    #team-btn:focus{
      outline: 0;}
    .fa-caret-right, .fa-caret-left{
      font-size: 18px;}
  #main-page{
    color: white;
    font-size: large;
    font-family: 'Merriweather', serif;}


#leave-dropdown{
  color: transparent;
  margin-left: 165px;
  position: absolute;
  top:12px;
  z-index: 0;
  transition: all 0.4s ease-in-out;}
  #leave-dropdown.show{
    font-size: small;
    color: white;
    background:rgba(12, 48, 101, 0.8);
    margin-left: 282px;}
  .leave-team{
    cursor: pointer;}
    .leave-team:hover{
      background-color: rgba(12, 48, 101, 1);}



#profileIcon{
  display: inline-block;}
  #profileIcon span{
    font-size: small;
    margin-left:10px;}
  #profile-logo-icon-nav{
    width: 30px!important;
    border-radius: 50%;}
  #profileIconBtn{
    padding-left: 10px!important;
    padding-right: 8px!important;
    box-shadow: 0px 0px 3px rgba(87, 81, 81, 0.9);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: none;
    transition: all 0.2s ease-out;}