html, body{
  height: 100%;
}

/* ABOVE IS FOR THE SIDEBAR THAT IS TOGGLED */

#sidebar-short{
  max-height: 100%;
  height: 100%;
  width: 65px;
  top:0px;
  left: 0px;
  z-index: 99;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, fontello, montserrat;
  color: aliceblue;
  position: fixed;
  box-shadow: 5px 0 15px rgba(0,0,0,0.2);
  background-color: rgb(19, 36, 53);
  height: 100%;
  transition: all 0.4s ease-in-out;
}
#sidebar-short .nav-button{
  font-size: x-large;
}
.nav-button {
  display: inline-block;
  font-size: medium;
  color: rgba(118, 130, 143, 0.9);
  width:100%;
  transition: all 0.2s ease-out;
}
.nav-button.active {
  background-color:rgba(118, 130, 143, 0.3);
  color: whitesmoke;
}
.nav-button:hover{
  text-decoration: none;
  cursor: pointer;
  background-color:rgba(118, 130, 143, 0.3);
  color: whitesmoke;
}
.show-sidebar{
  float: none;
  width: 100%;
  font-size: x-large;
  border-radius: 5px;
  margin-left: 7px;  
  color: aliceblue;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  transition: all 0.2 ease-in-out;
}

.show-sidebar:focus {
  outline: 0;
}