
/* CSS for the Title of The Modal */ 

#TeamModalTitle{
  line-height: 80px;
  text-align: left;
  height: 13vh;
  margin: 0;
  background-color: #1a73e8;
}

#TeamTitle{
  color: white;
  display: inline-block;
  width: 85%;
  line-height: normal;
  vertical-align: middle;
}

#closeTeamModal{
  line-height: 30px;
  width: 8%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left:auto;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;}
  #closeTeamModal:hover{
    color: white;}
  #closeTeamModal:focus{
    outline: 0;}
  #closeTeamModal::before{
    background-color: rgba(255,255,255,0);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    transform: scale(0);}
    #closeTeamModal:hover::before{
      background-color: rgba(255,255,255,0.1);
      transform: scale(1.2);}

/* CSS for the Navigation section of the Modal */

#TeamModalNavigation{
  height: 10vh;
  background-color: #fafafa;
  border-bottom: 1.1px solid rgba(0,0,0,.12);
}

.modalNavigationTab{
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  border:none;
  border-bottom: 2px solid transparent;
  color: rgba(88, 98, 116, 0.36);
  font-size: large;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;}
  .modalNavigationTab:hover{
    color: #3b78e7;}
  .modalNavigationTab:focus{
    outline: transparent;}
  .modalNavigationTab.active{
    color: #3b78e7;
    font-weight: 700;
    border-bottom: 3px solid #1a73e8;}


/* CSS for the Members View */

#MemberListContainer{
  width: 85%;
  margin:auto;
}
#MemberListContainer .table {
  overflow: auto;
  height: 100%;
  display: table;
  width: 100%;
}

#MemberListContainer .table th{
  border-bottom: 1px solid rgba(75, 75, 75, 0.2);
  max-width: 20%;
  color: rgba(0, 0, 0, 0.4);
  font-size: x-small;
  text-transform: uppercase;}
  th.picture-col{
    text-align: center;
    width: 100px;}
  th.leader-col{
    width: 50px;}
  th.name-col{
    width: 150px;}
  th.created-stories-col, th.assigned-col{
    width: 50px;}
  th.kick-col{
    text-align: center;
    width:100px;}

#MemberListContainer .table tr{}
  #MemberListContainer .table tr.member-row.current{
    background-color: rgba(71,71,71,0.05);}
  #MemberListContainer .table td{
    border-bottom: 1px solid rgba(71, 71, 71, 0.1);
    vertical-align: middle!important;}
  td.profile-picture-member{
    text-align: center;}
    td.profile-picture-member img{
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      width: 45px;}
  td.leader-member{
    font-size: small;
    color: rgb(255, 204, 64);
    text-align: end;}
  td.name-member{
    font-size: 15px;
    color: rgba(75, 75, 75, 0.8);
    font-weight: 500;}
  td.created-member, td.assigned-member{
    text-align: center;
    font-size: 13px;
    color: rgba(75, 75, 75, 0.8);
    font-weight: 500;}
  td.actions-member{
    font-size: x-large;
    text-align: center;}
    td.actions-member button{
      color: rgba(75, 75, 75, 0.35);
      border: none;
      border-radius: 5px;
      background-color: transparent;
      transition: all 0.2s ease-in-out;}
      td.actions-member button:focus{
        outline: 0;}
      td.actions-member button:hover{
        color: rgb(228, 72, 72);
        border: none;
        background-color: rgba(75, 75, 75, 0.05);}

/* CSS for the Sprints View */



/* CSS for the Leave Team View */

#LeaveTeamSection{
  position: absolute;
  width: 80%;  
  height: 40px;
  bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

#LeaveTeamSection button{
  color: white;
  background-color: rgba(235, 37, 2, 0.6);
  height: 100%;
  width: 80%;
  display: block;
  border-radius: 5px;
  margin: auto;
  border:none;
  transition: all 0.2s ease-out;
}
#LeaveTeamSection button:hover{
  background-color: rgba(235, 37, 2, 0.9);
}
#LeaveTeamSection button:focus{
  outline:0;
}
