.userStoryContainer {
    background-color: #ffffff;
    position: relative;
    height: 45px;
    max-height: 45px;
    width: 100%;
    padding: 2px;
    border-radius: 7px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }